
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>当前服务器配置情况</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 120px;
        }
        #alert-window {
            display: none;
        }
    </style>
</head>

<body>


<div class="container">
    <!-- Example row of columns -->
    <div class="row col-lg-6">
        <h1>配置情况</h1>
        <form>
            <div class="form-group">
                <label for="os-type">操作系统名称</label>
                <input type="text" class="form-control" id="os-type" placeholder="<%= os.type %>">
            </div>
            <div class="form-group">
                <label for="os-release">系统版本号</label>
                <input type="text" class="form-control" id="os-release" placeholder="<%= os.release %>">
            </div>
            <div class="form-group">
                <label for="os-platform">系统平台位数</label>
                <input type="text" class="form-control" id="os-platform" placeholder="<%= os.platform %>">
            </div>
            <div class="form-group">
                <label for="os-arch">CPU架构</label>
                <input type="text" class="form-control" id="os-arch" placeholder="<%= os.arch %>">
            </div>
            <div class="form-group">
                <label for="os-cpus">CPU核心数</label>
                <input type="text" class="form-control" id="os-cpus" placeholder="<%= os.cpus.length %>">
            </div>
            <div class="form-group">
                <label for="os-totalmem">总内存</label>
                <input type="text" class="form-control" id="os-totalmem" placeholder="<%= os.totalmem %>">
            </div>
            <div class="form-group">
                <label for="os-usedmem">已用内存</label>
                <input type="text" class="form-control" id="os-usedmem" placeholder="<%= os.usedmem %>">
            </div>
            <div class="form-group">
                <label for="os-freemem">剩余内存</label>
                <input type="text" class="form-control" id="os-freemem" placeholder="<%= os.freemem %>">
            </div>
            
            <button type="button" id="button" class="btn btn-default">更多</button>
        </form>

    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script type="application/javascript">
    $("#button").click(function () {
        window.location = "http://www.ruananqing.com";
    });
    
    $("input").focus(function () {
        $("#alert-window").fadeOut();
    });

</script>


</body>
</html>
